# Local work folder that is not checked in
_LOCAL/

# Eclipse
.apt_generated/
.checkstyle
.classpath
.factorypath
.project
.settings/
bin/
**/.*.md.html

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swo
*.swp

# patch
*.orig
*.rej
