<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="no" default-lazy-init="false" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="testServiceWithoutInterface" class="net.sf.oval.test.integration.spring.SpringAOPAllianceTest$TestServiceWithoutInterface" />
    <bean id="testServiceWithInterface" class="net.sf.oval.test.integration.spring.SpringAOPAllianceTest$TestServiceWithInterface" />

    <bean id="ovalGuardInterceptor" class="net.sf.oval.guard.GuardInterceptor" />
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="proxyTargetClass" value="true" />
        <property name="beanNames" value="testService*" />
        <property name="interceptorNames">
            <list>
                <value>ovalGuardInterceptor</value>
            </list>
        </property>
    </bean>
</beans>